In [2]:
import pandas  as pd

In [ ]:
df = pd.read_csv("D:\documents\Telco-Customer-Churn.csv")

<>:1: SyntaxWarning: "\d" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\d"? A raw string is also an option.
<>:1: SyntaxWarning: "\d" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\d"? A raw string is also an option.
C:\Users\amand\AppData\Local\Temp\ipykernel_1136\3560556148.py:1: SyntaxWarning: "\d" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\d"? A raw string is also an option.
  df = pd.read_csv("D:\documents\Telco-Customer-Churn.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

In [ ]:
df['gender'].unique()
df['Contract'].unique()
df['PaymentMethod'].unique()
df['InternetService'].unique()

In [ ]:
df.columns

In [ ]:
df['TotalCharges']=pd.to_numeric(df['TotalCharges'],errors='coerce')

In [ ]:
df['TotalCharges'].isnull().sum()

In [ ]:
df = df.dropna(subset=['TotalCharges'])

In [ ]:
yes_no_columns = ['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']

for col in yes_no_columns:
    df[col] = df[col].map({'yes':1,'no':0})

In [ ]:
df.info()

In [4]:
df['PhoneService'].unique()

array(['No', 'Yes'], dtype=object)

In [9]:
# Data Cleaning and Preprocessing

# 1) Convert TotalCharges to numeric (invalid -> NaN)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# 2) Drop rows where TotalCharges is NaN (small number ~11 rows)
df = df.dropna(subset=['TotalCharges']).reset_index(drop=True)

# 3) Standardize some service columns that have "No internet service" / "No phone service"
#    Replace them with simple "No" so they can be mapped safely to 0/1.
cols_with_no_internet = [
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies'
]
for c in cols_with_no_internet:
    if c in df.columns:
        df[c] = df[c].replace({'No internet service': 'No'})

# MultipleLines sometimes has "No phone service"
if 'MultipleLines' in df.columns:
    df['MultipleLines'] = df['MultipleLines'].replace({'No phone service': 'No'})

# 4) Now replace Yes/No -> 1/0 for columns that are strictly Yes/No
yes_no_cols = ['Partner', 'Dependents', 'PhoneService', 'PaperlessBilling', 'Churn']
for c in yes_no_cols:
    if c in df.columns:
        df[c] = df[c].replace({'Yes': 1, 'No': 0})

# 5) Also convert the previously standardized service columns
for c in cols_with_no_internet + ['MultipleLines']:
    if c in df.columns:
        df[c] = df[c].replace({'Yes': 1, 'No': 0})

# 6) Optional: convert 'gender' to numeric (Male=1, Female=0) if you want
if 'gender' in df.columns:
    df['gender'] = df['gender'].replace({'Male': 1, 'Female': 0})

# 7) Ensure types are numeric where expected
df['tenure'] = pd.to_numeric(df['tenure'], errors='coerce')
df['MonthlyCharges'] = pd.to_numeric(df['MonthlyCharges'], errors='coerce')
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# 8) Final quick check
print("Shape:", df.shape)
print("\nNon-null counts:")
print(df.info())

# Show top rows to confirm
df.head()

Shape: (7032, 21)

Non-null counts:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   int64
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   int64
 4   Dependents        7032 non-null   int64
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   int64
 7   MultipleLines     7032 non-null   int64
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   int64
 10  OnlineBackup      7032 non-null   int64
 11  DeviceProtection  7032 non-null   int64
 12  TechSupport       7032 non-null   int64
 13  StreamingTV       7032 non-null   int64
 14  StreamingMovies   7032 non-null   int64
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   int64
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   int64
dtypes: float64(2), int64(15), object(4)
memory usage: 1.1+ MB
None

C:\Users\amand\AppData\Local\Temp\ipykernel_1136\3593346872.py:27: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[c] = df[c].replace({'Yes': 1, 'No': 0})
C:\Users\amand\AppData\Local\Temp\ipykernel_1136\3593346872.py:32: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[c] = df[c].replace({'Yes': 1, 'No': 0})
C:\Users\amand\AppData\Local\Temp\ipykernel_1136\3593346872.py:36: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['gender'] = df['gender'].replace({'Male': 1, 'Female': 0})

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,0,1,0,0,DSL,0,...,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,5575-GNVDE,1,0,0,0,34,1,0,DSL,1,...,1,0,0,0,One year,0,Mailed check,56.95,1889.50,0
2,3668-QPYBK,1,0,0,0,2,1,0,DSL,1,...,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,7795-CFOCW,1,0,0,0,45,0,0,DSL,1,...,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,0,0,0,0,2,1,0,Fiber optic,0,...,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [10]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.countplot(x='Churn', data=df)
plt.title("Churn Distribution")
plt.show()

C:\Users\amand\AppData\Local\Temp\ipykernel_1136\2648874672.py:6: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [11]:
sns.countplot(x='gender',hue='Churn',data=df)
plt.title("churn by Gender")
plt.show()

C:\Users\amand\AppData\Local\Temp\ipykernel_1136\2592784548.py:3: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [12]:
sns.histplot(df['MonthlyCharges'], kde=True)
plt.title("Distribution of Monthly Charges")
plt.show()

C:\Users\amand\AppData\Local\Temp\ipykernel_1136\2377091827.py:3: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [13]:
sns.histplot(df['tenure'], bins=30, kde=True)
plt.title("Customer Tenure Distribution")
plt.show()

C:\Users\amand\AppData\Local\Temp\ipykernel_1136\884123921.py:3: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [5]:
import matplotlib
matplotlib.use('Agg')

In [6]:
import matplotlib.pyplot as plt
plt.plot([1,2,3])
plt.savefig("test_plot.png")

In [7]:
sns.countplot(x='Churn', data=df)
plt.show()

C:\Users\amand\AppData\Local\Temp\ipykernel_1136\3776194095.py:2: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [8]:
df = pd.read_csv("D:\documents\Telco-Customer-Churn.csv")

<>:1: SyntaxWarning: "\d" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\d"? A raw string is also an option.
<>:1: SyntaxWarning: "\d" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\d"? A raw string is also an option.
C:\Users\amand\AppData\Local\Temp\ipykernel_1136\3560556148.py:1: SyntaxWarning: "\d" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\d"? A raw string is also an option.
  df = pd.read_csv("D:\documents\Telco-Customer-Churn.csv")

In [14]:
sns.countplot(x='Contract', hue='Churn', data=df)
plt.title("Churn by Contract Type")
plt.show()

C:\Users\amand\AppData\Local\Temp\ipykernel_1136\3961175036.py:3: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [16]:
import matplotlib.pyplot as plt
import seaborn as sns

# 1) Make a numeric-only DataFrame (drop ID-like columns first)
if 'customerID' in df.columns:
    df_num = df.drop(columns=['customerID']).select_dtypes(include=['number'])
else:
    df_num = df.select_dtypes(include=['number'])

# 2) Quick check of which numeric columns we have
print("Numeric columns:", df_num.columns.tolist())

# 3) Correlation matrix (only numeric columns)
corr = df_num.corr()

# 4) Show top correlations with Churn
if 'Churn' in corr.columns:
    print("\nTop correlations with Churn:")
    print(corr['Churn'].sort_values(ascending=False))
else:
    print("\nChurn column not numeric / missing in numeric dataframe.")

# 5) Plot heatmap (smaller figure to avoid slow rendering)
plt.figure(figsize=(10,8))
sns.heatmap(corr, annot=False, cmap='coolwarm', linewidths=0.5)
plt.title("Correlation Heatmap (numeric columns only)")
plt.tight_layout()
plt.show()

Numeric columns: ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure', 'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn']

Top correlations with Churn:
Churn               1.000000
MonthlyCharges      0.192858
PaperlessBilling    0.191454
SeniorCitizen       0.150541
StreamingTV         0.063254
StreamingMovies     0.060860
MultipleLines       0.040033
PhoneService        0.011691
gender             -0.008545
DeviceProtection   -0.066193
OnlineBackup       -0.082307
Partner            -0.149982
Dependents         -0.163128
TechSupport        -0.164716
OnlineSecurity     -0.171270
TotalCharges       -0.199484
tenure             -0.354049
Name: Churn, dtype: float64

C:\Users\amand\AppData\Local\Temp\ipykernel_1136\2895022165.py:28: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [19]:
df.to_csv("Telco-Customer-Churn-Cleaned.csv", index=False)

In [20]:
import os
os.getcwd()

'c:\\Users\\amand\\AppData\\Local\\Programs\\Microsoft VS Code'

In [21]:
import os
[f for f in os.listdir() if f.endswith('.csv')]

['Telco-Customer-Churn-Cleaned.csv']

In [22]:
df.to_csv(r"C:\Users\amand\Desktop\Telco-Customer-Churn-Cleaned.csv", index=False)